.course-details {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.rezervare-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
}

.rezervare-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.rezervare-form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
